{{ 'section-reason.css' | asset_url | stylesheet_tag }}

<section class="p-top-reason">
  <div class="l-container--w1100">
    <div class="p-top-reason__inner">
      <div class="p-top-reason__content">
        <h2 class="p-top-reason__title">
          こだわりスタイルのための <br>
          理由ある道具ショップ、<br>
          ラ・クッチーナ・フェリーチェ
        </h2>

        <p class="p-top-reason__desc">
          キッチンで行うあらゆる作業を快適にし、<br
            class="u-sp-only"
          >
          キッチンから始まる<br class="u-sp-hidden">
          すべてのことを豊かにする。<br>
          それが、私たちの考える「キッチニング」。<br>
          ラ・クッチーナ・フェリーチェは「キッチニング」の楽し<br
            class="u-sp-only"
          >
          さを<br class="u-sp-hidden">
          体感するショップです。
        </p>

        <div class="p-top-reason__btn">
          {% render 'button', iconSuffix: true, isEn: true, title: 'View More', href: '/' %}
        </div>
      </div>
      <div class="p-top-reason__banner">
        <div class="p-top-reason__imgWrap">
          <img
            class="p-top-reason__img"
            src="https://cdn.shopify.com/s/files/1/0835/8694/1204/files/reason.jpg?v=1696477624"
            alt="こだわりスタイルのための理由ある道具ショップ、ラ・クッチーナ・フェリーチェ"
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "reason",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },

  "presets": [
    {
      "name": "reason"
    }
  ]
}
{% endschema %}
