.p-top-banner {
  margin-top: 114px;
  margin-bottom: 99px;
}
@media screen and (max-width: 767px) {
  .p-top-banner {
    margin-top: 73px;
    margin-bottom: 59px;
  }
}

.p-top-banner__inner {
  position: relative;
  padding-top: 40%;
}

@media screen and (max-width: 767px) {
  .p-top-banner__inner {
    padding-top: 53.4%;
  }
}

.p-top-banner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
