.p-top {
  padding-bottom: 150px;
}

.p-top-mv__slide {
  height: calc(100vh - 150px);
}

.p-top-mv__slideImg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-top-mv__navi {
  position: absolute;
  z-index: 1;
  top: 46.4%;
  left: 20px;
  transform: translateY(-50%);
  transition: all ease 0.3s;
  cursor: pointer;
}
.p-top-mv__navi:hover {
  opacity: 0.7;
}

.p-top-mv__navi--right {
  top: 46.4%;
  left: auto;
  right: 20px;
  transform: translateY(-50%) rotate(180deg);
}
